*{
	margin: 0 auto;
	font-size: 13px; /*주의*/

}

.userI>p, .userI>button, hr{
	float: right;
	padding-right: 10px;

}
.userI>hr{
	position: relative;
	top: 20px;
	transform: translate(70%);
}

/*table{
	position: fixed;
	left: 50%;
	top:50%;
	transform: translate(-50%, 0);

}*/
table tr, td{
	border-bottom: 1px solid #7dabd0;
}
th{
	background: #7dabd0;
	color: white;
}
.tt	{
	width: 1000px;
	height: 23px; /*주의*/
	text-align: right;
	padding-top: 100px;
}
#delete{
	float: left;
	width: 70px;
	height: 20px;
	background-color: #f58970;
	border: 1px solid #f52600;
}
#delete:hover{
	background:#f52600;
	color: white;
}
hr{
	width: 100px;
	float: right;
}



/*메뉴바 +채팅아이콘*/
img{
	float: left;
	width: 50px;
	height: 50px;
	padding:15px 0;
}
.menu{
	width: 50px;
	margin:0;
	padding-left: 5%;
	position: fixed;
	top: 20%;
}
#cht{
	position: fixed;
	right: 5%;	
	bottom: 5%;
}
