body{
    margin: 0;
}

.dot-wrapper {
    text-align: center;
    padding: 50px 0;
    background-color: #ddd;
}

.dot {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: orangered;
    color:white;
    font-size:3rem;
    text-align: center;
    display: inline-block ;
    border-radius:  50%;
}